* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 60%;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
  padding: 0, 5rem 0;
}
.logo {
  font-weight: 500;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.side-icons {
  display: flex;
  gap: 2rem;
  height: 1.5rem;
}
.icon {
  color: red;
}

/* STORIES */
.stories {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}
.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.story img {
  width: 4rem;
  border: 1px solid black;
  height: 4rem;
  border-radius: 50%;
}
